include head.pug
+head("Ojo a las sanciones - Buscador")

div.wrapper
    div.buscador
            form(action="/buscador")
                fieldset
                    each filter,id in filters
                        case filter.type
                            
                            when "exact-string"
                            when "text"
                                div(style="display: inline-block")
                                    label(for=id) !{filter.label}
                                    input(type="text", name=id, id=id, value=filter.value, placeholder=filter.prompt)
                            when "select"
                                div(style="display: inline-block")
                                    label(for=id) !{filter.label}
                                    select(name=id, title=filter.prompt)
                                        for option in filter.options
                                            if (filter.value==option.value)
                                                option(selected="selected",value=option.value) !{option.label}
                                            else
                                                option(value=option.value) !{option.label}
                    button(type="submit").actionButton Buscar


    div.pageTitle
        h1 Resultados
        h2 #{num(result_count)} #{getOptionLabel(filters.type)}
            each filter in filters
                if (filter.value && filter.type != "hidden")
                    |  con #{filter.label} "#{filter.value}"
            |  ordenados por #{getOptionLabel(filters.sort)}

    div.results
        each elem,i in results
            div.result
                case filters.type.value
                    when "area"
                        p !{j(elem)}
                            a(href="/"+elem._source.country+"/area/"+elem._source.id) detalles


                        //- p
                        //-     a(href="/contract/"+elem._source.nog_concurso)
                        //-         if (elem.highlight && elem.highlight.descripcion)
                        //-             | !{elem.highlight.descripcion}
                        //-         else
                        //-             | !{elem._source.descripcion}
                        //- if (elem._source.estatus_concurso == "Adjudicado" || elem._source.estatus_concurso == "Terminado adjudicado")

                        //-     p Adjudicado por !{elem._source.entidad_compradora} a&nbsp;
                        //-         if (elem.highlight && elem.highlight.nombre)
                        //-             | !{elem.highlight.nombre}
                        //-         else
                        //-             | !{elem._source.nombre}
                        //-         | &nbsp;el !{fechaFormateada(elem._source.fecha_adjudicacion)} por&nbsp;
                        //-         strong !{num(elem._source.monto,"Q.")}
                        //- else
                        //-     p Estatus: !{elem._source.estatus_concurso}


                    when "person"
                        p !{j(elem)}
                            a(href="/"+elem._source.country+"/person/"+elem._source.id) detalles
                        //- if elem._source.nombre_persona
                        //-     a(href="/proveedor/"+elem._source.nit)  #{elem._source.nombre_persona}
                        //- else
                        //-     a(href="/proveedor/"+elem._source.nit)  #{elem._source.nombre_razon_social}


                        //- span  (#{elem._source.tipo_organizacion}, NIT #{elem._source.nit})

                        //- each nom in elem._source.nombres_comerciales
                        //-     p nombres_comerciales #{nom}
                    when "party"
                        p !{j(elem)}
                            a(href="/"+elem._source.country+"/party/"+elem._source.id) detalles
                    when "contest"
                        p !{j(elem)}
                            a(href="/"+elem._source.country+"/contest/"+elem._source.id) detalles
                        //- a(href="/entidad/"+elem.key)  #{elem.key}
                    when "sancion"
                        
                        a(href="/mx/empresa/"+elem._source.rfc) #{elem._source.nombre_razon_social}
                        span  (RFC: #{elem._source.rfc})
                        a(href="/mx/empresa/"+elem._source.rfc,  style="float: right").detailsButton Detalles
                        p #{elem._source.sanciones.length}
                            if (elem._source.sanciones.length > 1)
                                span  sanciones.    
                            else 
                                span  sanción.
                            span  Última sanción: #{fechaFormateada(elem._source.sanciones.sort((a,b)=>a.fecha_notificacion<b.fecha_notificacion)[0].fecha_notificacion)}


                        //- span  (Cantidad total de contratos: #{num(elem.doc_count)})

            hr

    if (result_count> pageSize)
        div.pagesContainer(style="text-align: center")
            - var maxPages = 6;
            if(currentPage == 1)
                - var page = 0;
                if(maxPages < pages)
                    - var endPage = maxPages;
                else
                    - var endPage = pages;
            else
                if(currentPage > (maxPages/2))
                    if(currentPage > (pages-maxPages))
                        - var page = pages - maxPages;
                    else
                        - var page = currentPage - (maxPages/2);
                    if(currentPage + (maxPages/2) < pages)
                        - var endPage = currentPage + (maxPages/2);
                    else
                        - var endPage = pages;
                else
                    - var page = 0;
                    if(maxPages < pages)
                        - var endPage = maxPages;
                    else
                        - var endPage = pages;

            a(href=modifySearchParams(searchParams,"page",1)).page &laquo;
            while (page<endPage)
                - page++
                if (currentPage == page)
                    a(href=modifySearchParams(searchParams,"page",page)).page.current #{num(page)}
                else
                    a(href=modifySearchParams(searchParams,"page",page)).page #{num(page)}
            a(href=modifySearchParams(searchParams,"page",pages)).page &raquo;
        div.pagesContainer(style="text-align: center")
            p Página #{num(currentPage)} de #{num(pages)}
+footer()
