include head.pug
+head("Ojo a las sanciones")

div.wrapper
    div.infobanner_gob
        div.infobanner_info
            h1 La información de sanciones es fundamental para la mejora de las contrataciones públicas

    div.hometext#razon
        p Recopilamos y publicamos datos

    div.cardbox
        div.cardFull#buscador1
            div.icon
                img(src="/static/img/icon-contratos.png" width="80")
            h2.cardTitle Buscador
            p Escribe nombre de empresa para buscar...
            form(action=baseurl+"buscador")
                input(name="nombre")
                button(type="submit").actionButton Buscar


    div.estadisticas
        h2.cardTitle Estadísticas

        div.statWrapper
            div.stat
                div.statNumber #{num(stats.contract_count)}
                div.statText contratos disponibles
            div.stat
                div.statNumber #{num(stats.supplier_count)}
                div.statText proveedores disponibles
            div.stat
                div.statNumber #{num(stats.buyer_count)}
                div.statText entidades estatales disponibles

        h3 Porcentaje total por cada categoría de sanción
        img(src="https://www.lifeder.com/wp-content/uploads/2021/06/Mapa-de-Mexico-5-1024x712.jpg", alt="", srcset="")
        h3 Montos máximos asignados por dependencia por categoría de sanción
        img(src="https://www.lifeder.com/wp-content/uploads/2021/06/Mapa-de-Mexico-5-1024x712.jpg", alt="", srcset="")
        h3 Prevalencia de sanciones por estado
        img(src="https://www.lifeder.com/wp-content/uploads/2021/06/Mapa-de-Mexico-5-1024x712.jpg", alt="", srcset="")

        h3 Montos máximos asignados por Estado
        img(src="https://www.lifeder.com/wp-content/uploads/2021/06/Mapa-de-Mexico-5-1024x712.jpg", alt="", srcset="")

        div.bottomStat Los datos fueron actualizados por última vez en&nbsp;
            strong #{fechaFormateada(stats.last_update)}

+footer()
